<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<form th:object="${project}" th:action="@{addProjects}" method="POST">
		<table width="50%">
		<input type="hidden" th:field="*{projectId}" />
			<tr>
				<td>
					<h1>Add Project</h1>
				</td>
			</tr>
			<tr>
				<td>Project Name</td>
				<td><input type="text" th:field="*{name}" required></td>
			</tr>
			<tr>
				<td>Description</td>
				<td><input type="text" th:field="*{description}" required></td>
			</tr>
			<tr>
				<td>Start Date</td>
				<td><input type="date" th:field="*{startDate}" required></td>
			</tr>
			<tr>
				<td>End Date</td>
				<td><input type="date" th:field="*{endDate}" required></td>
			</tr>
			<tr>
				<td>Logo</td>
				<td><input type="text" th:field="*{projectLogo}"></td>
			</tr>
			<tr colspan="2">
				<td><input type="submit" value="submit"></td>
			</tr>
		</table>
	</form>
</body>
</html>