<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" id="WebApp_ID" version="2.4">
  <display-name>addEmployeepage</display-name>
  <servlet>
    <display-name>myservlet</display-name>
    <servlet-name>SignUp</servlet-name>
    <servlet-class>com.controller.SignUp</servlet-class>
  </servlet>
  <servlet>
    <display-name>myservlet</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.controller.Login</servlet-class>
  </servlet>
  <servlet>
    <display-name>myservlet</display-name>
    <servlet-name>ProfileUpdate</servlet-name>
    <servlet-class>com.controller.ProfileUpdate</servlet-class>
  </servlet>
  <servlet>
    <display-name>myservlet</display-name>
    <servlet-name>ProfileEdit</servlet-name>
    <servlet-class>com.controller.ProfileEdit</servlet-class>
  </servlet>
  <servlet>
    <display-name>myservlet</display-name>
    <servlet-name>Friend</servlet-name>
    <servlet-class>com.controller.Friend</servlet-class>
  </servlet>
  <servlet>
    <display-name>myservlet</display-name>
    <servlet-name>FriendProfile</servlet-name>
    <servlet-class>com.controller.FriendProfile</servlet-class>
  </servlet>
    <servlet>
    <display-name>myservlet</display-name>
    <servlet-name>ProfileImage</servlet-name>
    <servlet-class>com.controller.ProfileImage</servlet-class>
  </servlet>
   <servlet>
    <display-name>myservlet</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>com.controller.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignUp</servlet-name>
    <url-pattern>/SignUp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProfileUpdate</servlet-name>
    <url-pattern>/ProfileUpdate</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProfileEdit</servlet-name>
    <url-pattern>/ProfileEdit</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Friend</servlet-name>
    <url-pattern>/Friend</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FriendProfile</servlet-name>
    <url-pattern>/FriendProfile</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
    <servlet-name>ProfileImage</servlet-name>
    <url-pattern>/ProfileImage</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>LoginFilter</filter-name>
    <filter-class>com.filter.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>/Login</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>AllFilter</filter-name>
    <filter-class>com.filter.AllFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AllFilter</filter-name>
    <url-pattern>/ProfileEdit</url-pattern>
  </filter-mapping>
    <filter-mapping>
    <filter-name>AllFilter</filter-name>
    <url-pattern>/ProfileUpdate</url-pattern>
  </filter-mapping>
    <filter-mapping>
    <filter-name>AllFilter</filter-name>
    <url-pattern>/ProfileImage</url-pattern>
  </filter-mapping>
     <filter-mapping>
    <filter-name>AllFilter</filter-name>
    <url-pattern>/Friend</url-pattern>
  </filter-mapping>
  <welcome-file-list>
    <welcome-file>signup.html</welcome-file>
  </welcome-file-list>
</web-app>
