<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>Employee Dashboard</title>
</head>
<body>
	<h1>Dashboard</h1>
	<a th:href="@{'../employee/searchEmployee?role=2'}">Search Employee</a>
	</br>
	<a th:href="@{'resetPassword?email='}+${email}">Reset Password</a>
	</br>
	<a th:href="@{'showProfile?email='}+${email}">Show Profile</a>
	</br>
	<!-- 	<a th:href="@{logout}">Logout</a> -->
	<form th:action="@{/Logout}" method="post">
		<button type="submit" class="btn btn-primary">Logout</button>
	</form>
	</br>
</body>
</html>