*{
	margin: 0px;
}

header {
	background-color: rgb(100, 140, 255);
}

.row{	
	margin: auto;
	padding: 45px 0px;
	box-sizing: border-box;
	width: 80%;
}

#cover{
	background-image: url("../images/homebg.png");
	background-size: 100% 100%;
	color: white;
}

.col-md-2{
	width: 16.66%;
}

.col-md-4{
	width: 33%;
}

.col-md-6{
	width: 50%;
}

.col-md-10{
	width: 83.34%;
}

.col-md-12{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}
ul {
	list-style-type: none;
	display: flex;
}

li {
	align-items: center;
}

ul a{
	padding: 14px;
	color: white;
}

a{
	text-decoration: none;
}

.icons{
	display: flex;
	justify-content: flex-end;
}

#cover-title h1{
	margin-bottom: 85px;
	font-family: cursive;
	font-size: 60px;
}

#cover-title a{
	border-radius: 3px;
	font-weight: bold;
	border: 1px;
	padding: 14px 24px;
	color: white;
	font-size: 13px;
}

#cover-image{
	display: flex;
	justify-content: center;
}

#download{
	background-color: rgb(252,106,69);
	margin-right : 5px;
}

#features{
	background-color: rgb(69,99,197);
}

.cover-header{
	text-align: center;
	margin-bottom: 70px;
}

.cover-header h1{
	font-family: cursive;
	color: rgb(99,136,251);
	margin-bottom: 10px;
}

.cover-header p{
	color : grey;
}

.cover-features-content{
	padding: 18px;
	box-sizing: border-box;
}

.features-img img{
	height: 50px;
}

.features-content h2{
	font-family: cursive;
	margin-bottom: 15px;
}

.features-content p{
	color: grey;
}

#left_group_image img{
	width: 197px;
	margin-top: 84px;
	transform: skewY(4deg);
}

#left_group_image {
	margin-left: 112px;
}

#center_left_group_image img{
	width: 219px;
	margin-top: 85px;
	transform: skewY(4deg);
}

#center_left_group_image {
	overflow: hidden;
}

#right_group_image img{
	width: 197px;
	margin-top: 84px;
	transform: skewY(-4deg);
}

#center_right_group_image img{

	width: 219px;
	margin-top: 85px;
	transform: skewY(-4deg);
}

#center_group_image img{
	width: 254px;
	margin-top: 60px;
}

.cover-image{
	text-align: center;
}

/*.cover-screenshot-content{
	margin-bottom: 100px;
	}*/

	.screenshot-content img{
		margin-bottom: 45px;
		margin-top: 100px;
	}

	.screenshot-content h2{
		font-family: cursive;
		font-size: 40px;
		margin-bottom: 20px;
	}

	.screenshot-content p{
		font-family: cursive;
		font-size: 24px;
		color: grey;
	}

	.cover-review-content p{
		font-size: 20px;
		font-weight: bold;
		margin-bottom: 10px;
	}

	.cover-review-content{
		padding: 26px;
		box-sizing: border-box;
		font-family: cursive;
	}

	.cover-review-content img:last-child{
		float: right;
	}

	#bottom{
		background-image: url("../images/downloadbg.png");
		background-size: 100% 100%;
		color: white;
		font-family: cursive;
	}

	#bottom-content h1{
		margin-bottom: 30px;
	}

	#bottom-content p{
		margin-bottom: 30px;
		margin-right: 5px;
	}

	#bottom-image img{
		width: 450px;
	}

	footer {
		background-color: black;
	}

	#footer_end{
		color: gray;
		text-align: center;
		margin-top: 50px;
		color: white;
	}

	#footer-start{
		margin-bottom: 50px;
	}

	.watermark {
		position: relative;
		font-family: serif;
		color: grey;
		font-size: 198px;
		opacity: 0.25;
		transform: rotate(90deg) translate(-89%, -70%);
		z-index: -1;
	}

	.circle{	
		color: white;	
		position: relative;	
		left: 382px;	
		bottom: 710px;	
		width: 15%;	
		height: 9%;	
		border-radius: 38px;
	}

	.circle p{
		position: relative;
		top: 30px;
	}

	#yellow{
		background-color: #fcec64;
	}

	#orange{
		background-color: #f2a14e;
	}

	#green{
		background-color: #b8faee;
	}
