
.col-md-6 {
  width: 50%;
  float: left;
}

.col-md-12 {
  background-color: #0e3659;
  width: 100%;
  float: left;
}

.profile{
    text-align:  right;
    color:  white;
    font-style: initial;
    font-size: 20px;
    margin-right: 45px;
    margin-top: 20px;
}

a , a:active , a:visited{
padding: 10px;
background-color: white;
color: black;
border-radius:10px;
}

a:hover{
padding: 10px;
background-color: black;
color: white;
border-radius:10px;
}

#logo{
	padding-top: 20px;
	padding-bottom: 20px;
	margin-left: 120px;
	width: 45px;
}