.container{
	margin-right: 70px;
	margin-left: 70px;
	text-align: center;
}

th{
	text-align: left;
}

input, select, textarea{
    padding: 5px;
    box-sizing: border-box;
    border-radius: 5px;
	font-family: inherit;
    font-size: 100%;
}