<!DOCTYPE html>
<html>
<head>
<link rel="shortcut icon" type="image/png" href="images/img2.PNG" />
<link rel="stylesheet" href="css/style.css" />
<link rel="stylesheet" href="css/headstyle.css" />
<title>Login</title>
</head>
<body background="images/background.jpg">
	<div class="col-md-12">
		<div class="col-md-6">
			<img id="logo" src="images/img2.PNG" alt="Logo">
		</div>
		<div class="col-md-6" style="margin-top: 50px; text-align: center;">
			<a href="login.html">Login</a> <a href="signup.html">SignUp</a>
		</div>
	</div>
	<hr />
	<br />
	<div style="text-align: -webkit-center;">
		<form action="login" id="login_form" method="post">
			<h1 align="center">Login</h1>
			<table cellpadding="5">

				<tr>
					<th>Email :</th>
					<td><input type='email' id='email' name='email'
						placeholder="Enter your email" /></td>

				</tr>

				<tr>
					<th>Password :</th>
					<td><input type='password' id='password' name='password'
						placeholder="Enter your password" /></td>
				</tr>

				<tr>
					<td colspan="2" align="right"><span>Forgot Password?</span></td>
				</tr>

				<tr>
					<td colspan="2" align="right"><input type='submit'
						id="submitbutton" value='Login' name="login"></td>
				</tr>

			</table>

		</form>
	</div>
</body>
</html>